section{
    height: 100vh;
    background-repeat : no-repeat;
    background: url(https://github.com/YBB-space/YBB-space.github.io/blob/main/background_1_milkyway.PNG?raw=true);
}
body{
    margin: 0;
    height: 2000px;
    background: black;
}
h1{
    color:white;
    font-size:6em;
    position:absolute;
    top:300px;
    left:70px;
    text-shadow: 3px 3px 50px gray;
}
h4{
    color:#2E64FE;
    font-size:3em;
    position:absolute;
    top:240px;
    left:85px;
    
}
h5{
    color:white;
    font-size:1em;
    position:absolute;
    top:306px;
    left:294px;
    
}
section:before{
    content:"";
    background:linear-gradient(to top,black,transparent);
    position:absolute;
    left:0;
    height:100%;
    width:100%;
}
b{
    position:absolute;
    left: 30px;;
}
p{
    color:white;
    font-size:9em;
    text-align: center;
    text-shadow: 3px 3px 50px gray;
}
h3{
    color:white;
    font-size:2.5em;
    text-align: center;
    text-shadow: 3px 3px 50px gray;
}
